Count(Intersect(Not(Row(bools="has_deleted_date")), Row(bools="all_users")))

GroupBy( Rows(bools), filter=Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(bools="all_users"), Not(Row(bools="has_deleted_date"))))

Count(Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(ach_batch_recency < 1574054660), Row(bools="all_users"), Not(Row(bools="has_deleted_date"))))

Count(Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(1563542660 <= ach_batch_recency < 1574054660), Row(bools="all_users"), Not(Row(bools="has_deleted_date"))))

Intersect(Union(Intersect(Union( Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(bools="desktop_boolean")) ,),Union( Intersect( Row(aba="{aba}"), Row(db="{db}"), Row(1563736890 <= desktop_recency < 1574277690)) ,),),),Intersect( Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Not(Row(bools="has_deleted_date"))) , Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(bools="all_users")) ,),)

Count(Intersect(Union(Intersect(Union( Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(bools="desktop_boolean")) ,),Union( Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(1563736890 <= desktop_recency < 1574277690)) ,),),),Intersect( Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Not(Row(bools="has_deleted_date"))) , Intersect( Row(aba="{{ .ABA }}"), Row(db="{{ .DB }}"), Row(bools="all_users")) ,),))

GroupBy(Rows(zip_code),filter=Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
GroupBy(Rows(central_group),filter=Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(funds_transfer_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= funds_transfer_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(funds_transfer_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(domestic_wire_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= domestic_wire_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(domestic_wire_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(external_transfer_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= external_transfer_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(external_transfer_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(international_wire_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= international_wire_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(international_wire_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(payroll_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= payroll_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(payroll_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(payroll_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(stop_payment_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= stop_payment_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(stop_payment_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(ach_payment_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= ach_payment_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(ach_payment_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(ach_batch_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= ach_batch_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(ach_batch_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(ach_pass_thru_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= ach_pass_thru_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= ach_pass_thru_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(ach_pass_thru_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(phone_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= phone_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(phone_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(desktop_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= desktop_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(desktop_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(tablet_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= tablet_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(tablet_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(mobile_remote_deposit_recency < 1563542660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(1563542660 <= mobile_remote_deposit_recency < 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(mobile_remote_deposit_recency >= 1574054660),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))
GroupBy(Rows(bools),filter=Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))

GroupBy(Rows(bools),filter=Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))

Min(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__brokerage_account)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__brokerage_account)
Min(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__personal_loan)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__personal_loan)
Min(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__credit_card)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__credit_card)
Min(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__home_equity_loan)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__home_equity_loan)
Min(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__401k_investment)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=pfm_category_total_current_balance__401k_investment)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=product_count__brokerage_account)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=product_count__commercial_cd_or_share_certificate)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=product_count__commercial_checking_or_share_draft)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=product_count__commercial_credit_card)
Max(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))),field=product_count__commercial_line_of_credit)

GroupBy(Rows(bools),filter=Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(bools="all_users"),Not(Row(bools="has_deleted_date"))))

Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_money_market < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_money_market")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_money_market < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_money_market")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_money_market >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_money_market")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_indirect_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_indirect_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_indirect_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_indirect_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_indirect_auto_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_indirect_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_line_of_credit < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_line_of_credit")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_line_of_credit < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_line_of_credit")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_line_of_credit >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_line_of_credit")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_special_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__brokerage_account < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__brokerage_account")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__brokerage_account < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__brokerage_account")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__brokerage_account >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__brokerage_account")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_new_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_new_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_new_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_new_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_new_auto_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_new_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_special_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_credit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_line_of_credit < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_line_of_credit")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_line_of_credit < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_line_of_credit")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_line_of_credit >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_line_of_credit")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_real_estate_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_real_estate_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_real_estate_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_real_estate_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_real_estate_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_real_estate_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_secured_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_secured_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_secured_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_secured_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_secured_credit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_secured_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_used_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_used_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_used_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_used_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_used_auto_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_used_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_secured_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_secured_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_secured_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_secured_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_secured_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_secured_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_credit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_interest_bearing_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_interest_bearing_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_interest_bearing_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_interest_bearing_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_interest_bearing_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_interest_bearing_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_indirect_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_indirect_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_indirect_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_indirect_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_indirect_auto_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_indirect_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_vehicle_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_vehicle_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_special_vehicle_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_vehicle_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_vehicle_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_vehicle_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_basic_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_basic_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_basic_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_basic_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_basic_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_basic_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_cd_or_share_certificate < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_cd_or_share_certificate")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_cd_or_share_certificate < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_cd_or_share_certificate")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_cd_or_share_certificate >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_cd_or_share_certificate")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_credit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_special_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__commercial_special_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__commercial_special_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__commercial_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_cd_or_share_certificate < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_cd_or_share_certificate")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_cd_or_share_certificate < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_cd_or_share_certificate")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_cd_or_share_certificate >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_cd_or_share_certificate")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_money_market < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_money_market")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_money_market < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_money_market")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_money_market >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_money_market")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_new_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_new_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_new_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_new_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_new_auto_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_new_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_premium_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_premium_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_premium_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_premium_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_premium_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_premium_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_premium_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_premium_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_premium_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_premium_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_premium_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_premium_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_real_estate_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_real_estate_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_real_estate_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_real_estate_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_real_estate_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_real_estate_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_restricted_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_restricted_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_restricted_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_restricted_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_restricted_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_restricted_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_restricted_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_restricted_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_restricted_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_restricted_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_restricted_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_restricted_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_secured_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_secured_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_secured_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_secured_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_secured_credit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_secured_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_secured_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_secured_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_secured_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_secured_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_secured_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_secured_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_special_checking_or_share_draft < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_checking_or_share_draft >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_checking_or_share_draft")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_special_credit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_credit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_credit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_special_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_vehicle_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_vehicle_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_special_vehicle_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_vehicle_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_special_vehicle_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_special_vehicle_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_used_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_used_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__consumer_used_auto_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_used_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__consumer_used_auto_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__consumer_used_auto_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__debit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__debit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__debit_card < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__debit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__debit_card >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__debit_card")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__education_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__education_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__education_savings_or_share < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__education_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__education_savings_or_share >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__education_savings_or_share")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__health_savings_account < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__health_savings_account")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__health_savings_account < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__health_savings_account")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__health_savings_account >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__health_savings_account")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__home_equity_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__home_equity_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(0.0 <= product_count__home_equity_loan < 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__home_equity_loan")))
Count(Intersect(Row(aba="{{ .ABA }}"),Row(db="{{ .DB }}"),Row(product_count__home_equity_loan >= 0.0),Row(bools="all_users"),Not(Row(bools="has_deleted_date")), Row(bools="product_boolean_current__home_equity_loan")))
